---
import "@fontsource-variable/rubik";

import data from "../data.json";
import AddComment from "../layouts/AddComment.astro";
import Attribution from "../layouts/Attribution.astro";
import Comments from "../layouts/Comments.astro";

const currentUser = data.currentUser;
const comments = data.comments;
---

<style is:global>
	body {
		font-family: "Rubik Variable", cursive;
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Interactive comments section</title>
	</head>
	<body>
		<main class="flex flex-col h-full bg-slate-200">
			<Comments comments={comments} />
			<AddComment currentUser={currentUser} />
			<Attribution />
		</main>
	</body>
</html>
