---
import "@fontsource-variable/rubik";
import CommentsApp from "../layouts/CommentsApp";
import Attribution from "../layouts/Attribution.astro";
---

<style is:global>
	body {
		font-family: "Rubik Variable", cursive;
	}

	p {
		color: #67727e;
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Interactive comments section</title>
	</head>
	<body class="bg-gray-100">
		<main class="flex flex-col h-full">
			<CommentsApp client:load />
			<Attribution />
		</main>
	</body>
</html>