<footer class="text-center mt-12">
    Challenge by <a
        class="text-blue-700"
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank">Frontend Mentor</a
    >. Coded by <a class="text-blue-700" href="#">Jaime Ayala</a>.
</footer>